html,body
{
    margin          : 0px;
    padding         : 0px;
    height          : 100%;
    min-height      : 100%;
}
#viewroot
{
    display         : flex;
    width           : 100%;
    height          : 100%;
}
#sidebar
{
    position        : relative;
    background-color: #666;
    width           : 45px;
    height          : 100%;
}
#sidebar > div.bottom
{
    position : absolute;
    left    : 0px;
    bottom  : 10px;
}
#sidebar div.space
{
    height  : 5px;
    margin  : 5px;
}
.button
{
    width   : 35px;
    height  : 35px;
    margin  : 5px;
    background  : #ccc;
    box-shadow  : 1px 2px 5px #000;
    color       : #444;
    line-height : 35px;
    font-size   : 18px;
    text-align  : center;
    cursor      : pointer;
    overflow    : hidden;
    white-space : nowrap;
}
.button img
{
    width       : 100%;
}
.button.disabled
{
    color       : #a8a8a8;
}
.button:not(.disabled):hover
{
    background  : #7af;
}
.button:active
{
    box-shadow  : 1px 1px 1px #000;
    transform   : translate(0px, 2px);
}
.button span.tooltip
{
    display     : inline;
    position    : absolute;
    pointer-events : none;
    z-index         : 99;
    background      : #def;
    box-shadow      : 2px 4px 10px rgba(0,0,0, 0.5);
    border-radius   : 4px;
    color           : #444;
    line-height     : 30px;
    right           : -15px;
    margin          : 0px 0px;
    padding         : 0px 15px;
    transform       : translate(100%,0px);
    font-size       : 18px;
    white-space     : nowrap;
    transition      : 200ms;
    opacity         : 0.0;
}
.button:hover span.tooltip
{
    transition-delay    : 300ms;
    opacity             : 1.0;
}
#view
{
    flex            : 1 1 auto;
    display         : flex;
    background-color: #444;
    height          : 100%;
}
#view .imageBox, #view .emptyBox
{
    flex            : 1 1 auto;
    display         : inline-block;
    position        : relative;
    height          : 100%;
    overflow        : hidden;
}
#view .imageBox.error
{
    background-color: #666;
    box-shadow      : 2px 4px 10px rgba(0,0,0, 0.2) inset;
}
#view .imageName
{
    display         : inline-block;
    position        : absolute;
    width           : 100%;
    text-align      : center;
    font-size       : 1.5em;
    color           : #fff;
    text-shadow     : -1px 0px 2px #000, 0px -1px 2px #000, 1px 0px 2px #000, 0px 1px 2px #000;
    opacity         : 0.7;
    cursor          : pointer;
}
#view .error .imageName
{
    color           : red;
}
#view .imageName:hover
{
    color           : #69f;
}
#view .imageBox .image
{
    display         : block;
    position        : absolute;
    box-sizing      : border-box;
    margin          : 0px;
    border          : rgba(0,0,0,0) solid 3px;
    padding         : 0px;
}
.dropHere
{
    display         : block;
    position        : absolute;
    border          : 2px dashed #888;
    border-radius   : 5px;
    left            : 0px;
    top             : 0px;
    right           : 0px;
    bottom          : 0px;
    margin          : 5px;
    padding         : 1.5em;
    color           : #888;
}
#view .indicator
{
    display         : none;
    position        : absolute;
    z-index         : 50;
    background      : rgba(238,238,238, 0.8);
    color           : #444;
    font-size       : 1.2em;
    bottom          : 0px;
    margin          : 15px;
    padding         : 5px 8px;
    box-shadow      : 1px 2px 5px #000;
}
div.dialog
{
    display         : none;
    position        : fixed;
    z-index         : 99;
    background      : rgba(0,0,0, 0.4);
    left            : 0px;
    top             : 0px;
    right           : 0px;
    bottom          : 0px;
}
div.dialog > div
{
    position        : absolute;
    background      : #eee;
    border          : #bbb double 4px;
    border-radius   : 5px;
    box-shadow      : 2px 2px 10px #000;
    width           : -webkit-max-content;
    width           : -moz-max-content;
    width           : max-content;
    max-width       : 90vw;
    min-width       : 50vw;
    max-height      : 90vh;
    left            : 50%;
    top             : 50%;
    transform       : translate(-50%, -50%);
    overflow        : auto;
}
div.dialog > div > *
{
    margin          : 0.3em;
    padding         : 0.5em 1.0em;
    border          : #bbb solid 1px;
    line-height     : 1.2em;
}
div.dialog a
{
    color           : #44e;
    text-decoration : none;
}
div.dialog table td, div.dialog table th
{
    padding         : 0.2em 0.5em;
    border          : #bbb solid 1px;
}
.keys > span
{
    background      : #eee;
    display         : inline-block;
    box-sizing      : border-box;
    border          : #bbb solid 1px;
    border-radius   : 4px;
    padding         : 1px 3px;
    line-height     : 1.2em;
    font-size       : 16px;
    font-weight     : bold;
    text-align      : center;
    min-width       : 1.5em;
}
.keys:not(.tooltip) > span
{
    box-shadow      : 1px 1px 3px rgba(0,0,0, 0.2);
}
tr.num > td:not(.prop), tr.enum > td:not(.prop), tr.date > td:not(.prop)
{
    text-align    : right;
}
tr.b > td:not(.prop)
{
    font-weight : bold;
}
td.error
{
    color       : red;
    background  : #ecc;
}
td.loading
{
    color       : blue;
}
td.ok
{
    color       : green;
    background  : #cec;
}
div.dialog tr:nth-of-type(even)
{
    background      : #e8e8e8;
}
div.dialog td:not(.prop):not(.keys)
{
    font-size       : 1.2em;
    white-space     : pre-wrap;
}
div.dialog td.sign:not(.prop):before
{
    float       : left;
    font-weight : bold;
    margin      : 0px 10px 0px 0px;
}
div.dialog td.lt:not(.prop)
{
    background  : rgba(51,136,238,0.2);
}
div.dialog td.gt:not(.prop)
{
    background  : rgba(238,68,119,0.2);
}
div.dialog tr.enum td.sign:not(.eq):not(.prop)
{
    background  : rgba(176,176,96,0.2);
}
div.dialog td.eq:not(.prop):before
{
    content     : "=";
    color       : #aaa;
}
div.dialog tr.num td.lt:not(.prop):before
{
    content     : "<";
    color       : #59f;
}
div.dialog tr.num td.gt:not(.prop):before
{
    content     : ">";
    color       : #f68;
}
div.dialog tr.enum td.sign:not(.eq):not(.prop):before
{
    content     : "≠";
    color       : #aa2;
}
div.dialog tr.date td.lt:not(.prop):before
{
    content     : "newer";
    color       : #59f;
}
div.dialog tr.date td.gt:not(.prop):before
{
    content     : "older";
    color       : #f68;
}
div.header
{
    display     : flex;
}
div.header > *
{
    flex        : 0 1 auto;
    display     : inline-block;
    margin      : 0px;
    padding     : 5px;
}
div.header > h3
{
    flex        : 1 1 auto;
}
div.mode-sw
{
    display     : flex;
    padding     : 0px;
}
div.mode-sw > *
{
    box-sizing  : border-box;
    margin      : 2px;
    height      : 100%;
    font-size   : 14px;
    color       : #444;
}
div.mode-sw > *.current
{
    color       : #36f;
    text-shadow : 0px 0px 20px;
}
button
{
    border      : 0px;
    background  : #fff;
    box-shadow  : 1px 2px 5px rgba(0,0,0, 0.5);
}
button:active
{
    background  : #eee;
    box-shadow  : 1px 1px 1px rgba(0,0,0, 0.5);
    transform   : translate(0px, 2px);
}
