html,body
{
    margin          : 0px;
    padding         : 0px;
    height          : 100%;
    min-height      : 100%;
}
#viewroot
{
    display         : flex;
    width           : 100%;
    height          : 100%;
}
#sidebar
{
    position        : relative;
    background-color: #666;
    width           : 60px;
    height          : 100%;
    overflow        : auto;
}
#sidebar > div
{
    display : inline-block;
    width   : 50px;
    height  : 50px;
    margin  : 5px;
    line-height : 50px;
    font-size   : 24px;
}
#sidebar > div.space
{
    height  : 0px;
    margin  : 5px;
}
#sidebar > div.bottom
{
    position : absolute;
    left    : 0px;
    bottom  : 5px;
}
.button
{
    background  : #ccc;
    box-shadow  : 1px 2px 5px #000;
    color       : #444;
    text-align  : center;
    cursor      : pointer;
}
.button.disabled
{
    color       : #a8a8a8;
}
.button:not(.disabled):hover
{
    background  : #7af;
}
.button:active
{
    box-shadow  : 1px 1px 1px #000;
    transform   : translate(0px, 2px);
}
#view
{
    flex            : 1 1 auto;
    display         : flex;
    background-color: #444;
    height          : 100%;
}
#view .imageBox, #view .emptyBox
{
    flex            : 1 1 auto;
    display         : inline-block;
    position        : relative;
    height          : 100%;
    overflow        : hidden;
}
#view .imageName
{
    display         : inline-block;
    position        : absolute;
    width           : 100%;
    text-align      : center;
    font-size       : 1.5em;
    color           : #fff;
    text-shadow     : -1px 0px 2px #000, 0px -1px 2px #000, 1px 0px 2px #000, 0px 1px 2px #000;
    opacity         : 0.7;
    cursor          : pointer;
}
#view .imageName:hover
{
    color           : #69f;
}
#view .imageBox img
{
    display         : block;
    position        : absolute;
    box-sizing      : border-box;
    max-width       : 100%;
    max-height      : 100%;
    margin          : 0px;
    border          : rgba(0,0,0,0) solid 3px;
    padding         : 0px;
}
.dropHere
{
    display         : block;
    position        : absolute;
    border          : 2px dashed #888;
    border-radius   : 5px;
    left            : 0px;
    top             : 0px;
    right           : 0px;
    bottom          : 0px;
    margin          : 5px;
    padding         : 1.5em;
    color           : #888;
}
div.dialog
{
    display         : none;
    position        : fixed;
    z-index         : 99;
    background      : rgba(0,0,0, 0.4);
    left            : 0px;
    top             : 0px;
    right           : 0px;
    bottom          : 0px;
}
div.dialog > div
{
    background      : #eee;
    border          : #bbb double 4px;
    border-radius   : 5px;
    box-shadow      : 2px 2px 10px #000;
    margin          : 20vh auto;
    width           : -webkit-max-content;
    width           : -moz-max-content;
    width           : max-content;
    max-width       : 90vw;
    min-width       : 50vw;
    max-height      : 60vh;
    overflow        : auto;
}
div.dialog > div > *
{
    margin          : 0.5em;
    padding         : 0.5em 1.0em;
    border          : #bbb solid 1px;
    line-height     : 1.5em;
}
div.dialog table td
{
    padding         : 0.2em 0.5em;
    border          : #bbb solid 1px;
}
.key
{
    background      : #eee;
    display         : inline-block;
    border          : #aaa solid 1px;
    border-radius   : 4px;
    box-shadow      : 1px 1px 2px rgba(0,0,0, 0.4);
    padding         : 1px 7px;
    text-align      : center;
    min-width       : 1.0em;
}
tr.num > td:not(.prop)
{
    text-align    : right;
}
tr.b > td:not(.prop)
{
    font-weight : bold;
}
div.dialog tr:nth-child(even)
{
    background      : #e8e8e8;
}
div.dialog td:not(.prop)
{
    font-size       : 1.2em;
    white-space     : pre-wrap;
}
#log
{
    color           : #000;
    line-height     : 1.1em;
    background      : #eee;
    overflow        : auto;
}
